
@font-face {
  font-family: 'h_calc_5*7';
  src: url('/portfolio/fonts/h_calc57.ttf') format('opentype');
  font-weight: bold;
}
.custom-cursor-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  cursor: none; /* Hide the default cursor */
}

.custom-cursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;  /* Diameter of the cursor */
  height: 15px; /* Diameter of the cursor */
  border-radius: 50%;
  background-color: white; /* Color of the cursor */
  pointer-events: none; /* The cursor div should not interfere with mouse events */
  transition: transform 0.1s ease-out;
  z-index: 5; /* Ensure the cursor is on top */
}

.canvas {
 
  background: black;
}
div.retro-container {
  font-family: 'h_calc_5*7';

 
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  padding: 0.5rem;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  mask-image: linear-gradient(to bottom, #0005 50%, #000 50%);
  mask-size: 100% 2px;
  text-shadow: 0 0 0.5rem;
  z-index: 5;
}

header,
footer {
  display: flex;
  gap: 2rem;
  align-items: center;

}

header nav ul li a{
  position: fixed;
  
  font-size: 50px;
  text-align: center;
  color: rgb(0, 255, 42);
}
header nav{
  position: fixed;
  display: flex;
  flex-direction: row;
  gap: 510%;
}
section {
  height: 100%;
  overflow: hidden auto;
  margin: 1rem 0;
  font-size: large;
  color: rgb(0, 255, 42);
}
@keyframes crtAnimation {
  0% {
      background-position: 0 0;
  }

  100% {
      background-position: 0 10000%;
  }
}
.univ{
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(600%) hue-rotate(120deg) brightness(100%) contrast(100%);
  width:  50px;
  height: 50px;

}
#big {
  background-image: linear-gradient(0deg, #ff000000 10%, rgba(0, 255, 42, 0.067) 90%, #00ff3707 100%);
  background-size: 100% 80%;
  animation:expandScreen 1s forwards, crtAnimation 100s linear infinite !important;
  opacity: 0;
  user-select: none;

  display: grid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  grid-template-rows: auto 40% 1fr; /* 60% for window1, remaining for window2 */
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "nav_retro nav_retro"
    "window1 screen_skills"
    "window2 screen_skills";
  gap: 1rem;
  border: 10px solid;
  border-image: linear-gradient(to right, #00CC22 , #006d09 , #00CC22 ) 1; /* Adjust colors as needed */
  box-sizing: border-box;
  border-radius: 10px;
}

#nav_retro {
  box-shadow: inset 0px 0px 2rem rgba(0, 255, 42, 0.2); 

  grid-area: nav_retro;
  height: 100%;
  width: 100%;
}

#window1 {
  box-shadow: inset 0px 0px 2rem rgba(0, 255, 42, 0.2); 

  grid-area: window1;
  width: 100%;
  height: 100%; /* The row height in the grid controls its height */
}



#screen_skills {
  box-shadow: inset 0px 0px 2rem rgba(0, 255, 42, 0.2); 

  grid-area: screen_skills;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12rem;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-image: linear-gradient(to right, #00CC22 , #006d09 , #00CC22 ) 1; /* Adjust colors as needed */
  box-sizing: border-box;
  border-radius: 10px;
}
#window2 {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px 0px 2rem rgba(0, 255, 42, 0.2); 
  grid-area: window2;
  width: 100%;
  height: 100%;
}

.dpad {
  display: grid;
  grid-template-areas:
    ". up ."
    "left . right"
    ". down .";
  grid-row-gap: 1rem; /* Vertical gap between rows */
  grid-column-gap: 0.5rem; /* Horizontal gap between columns */
}
.dpad-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  font-size: 1.5rem;
  background-color: #2bd3474f;
  color: #00CC22;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s ease; /* Smooth transition for background and transform */
}

.dpad-btn:hover {
  background-color: #007e1b83;
}

.dpad-btn:active {
  transform: scale(0.9); /* Scale down to 90% when clicked */
  box-shadow: 0px 0px 5px #00CC22 inset; /* Optional: adds a slight glow effect on click */
}

#up { grid-area: up; }
#down { grid-area: down; }
#left { grid-area: left; }
#right { grid-area: right; }


.skill-cube-container {
  position: relative;
  top: 30%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.skill-cube {
  width: 100px;
  height: 100px;
  background: rgb(0, 255, 42);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.active-skill {
  transform: scale(1.2);
  background-color: #ffd700;
}

#screen_skills h2{

  flex-grow: 0;
  position: fixed;
  
  font-size: 50px;
  text-align: center;
  color: rgb(0, 255, 42);
  height: 70%;
}
.skill-label {
  text-align: center;
  
}
@keyframes expandScreen {
  0% {
    width: 1%;
    height: 1%;
    opacity: 0;
  }
  100% {
    width: 80%;
    height: 80%;
    opacity: 1;
  }
}

@keyframes loadingBar {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.loading-bar {
  width: 0;
  height: 10px;
  background-color: #00CC22;
  animation: loadingBar 2s forwards;
}
#big:not(.expanded) {
  display: none;
}
/* Conteneur de la barre de chargement */
#loading-bar-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.2); /* Optionnel : pour une légère ombre de fond */
  border-radius: 10px;
  overflow: hidden;
}

/* Barre de chargement */
#loading-bar {
  height: 100%;
  width: 0; /* On commence à 0 pour animer l'extension */
  background-color: #4CAF50; /* Couleur de la barre de chargement */
  animation: load 3s ease-in-out forwards; /* Animation de chargement */
  border-radius: 10px;
}

/* Animation de chargement */
@keyframes load {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}

#big.expanded {
  width: 1%;
  height: 1%;
  opacity: 0;
  animation: expandScreen 1s forwards, crtAnimation 100s linear infinite;
  
 
}
.skill-info {
  flex-grow: 2;

  font-size: 1.2em;
  color: #00CC22; /* Choisissez une couleur qui contraste avec le texte principal */
 
  
  width: 100%;
}
.skill-infop {
  position: fixed;
}
.skill-level{
  display: flex;
  align-items: center;
  
}
.skill-point {
  width: 10px; /* Adjust size as needed */
  height: 10px; /* Adjust size as needed */
  margin: 2px; /* Space between points */
  border-radius: 50%; /* Make them circular */
}

.green {
  background-color: green;
}

.blue-black {
  background-color: #ffd700; /* Adjust this for the exact blue-black you want */
}/* Extra large desktop screens */
@media (min-width: 1800px) {
  .custom-cursor { width: 20px; height: 20px; } /* Larger cursor */
  #big { width: 70%; height: 70%; }
  .skill-cube { width: 120px; height: 120px; }
}

/* Large desktop screens */
@media (min-width: 1400px) and (max-width: 1799px) {
  .custom-cursor { width: 18px; height: 18px; }
  #big { width: 65%; height: 65%; }
  .skill-cube { width: 110px; height: 110px; }
}

/* Standard desktop screens */
@media (min-width: 1024px) and (max-width: 1399px) {
  .custom-cursor { width: 15px; height: 15px; }
  #big { width: 60%; height: 60%; }
  .skill-cube { width: 100px; height: 100px; }
}

/* Small desktop screens */
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-cursor { width: 12px; height: 12px; }
  #big { width: 55%; height: 55%; }
  .skill-cube { width: 90px; height: 90px; }
  
}

/* Tablet screens in landscape */
@media (min-width: 900px) and (max-width: 1080px) and (orientation: landscape) {
  .custom-cursor { display: none; } 
  #big { width: 100%; height: 100%; }
  .skill-cube { width: 50px; height: 50px; font-size: 10px;}
  #screen-1 article {font-size: 0.5em;;}
  #up{font-size: 13px;}
  #down{font-size: 13px;}
  #left{font-size: 13px;}
  #right{font-size: 13px;}
  .dpad{    grid-row-gap: 0.5rem;
    grid-column-gap: 0.25rem;}
  .skill-info{
    font-size: 15px;
  }
  #screen_skills{
    gap:5rem;
  }
  #screen_skills h2{
    font-size: 40px;
  }
  #nav_retro header nav {
    gap:300%;
  }
  @keyframes expandScreen {
    0% {
      width: 1%;
      height: 1%;
      opacity: 0;
    }
    100% {
      width: 100%;
      height: 100%;
      opacity: 1;
    }
  }
}

/* Tablet screens in landscape */
@media (min-width: 600px) and (max-width: 899px) and (orientation: landscape) {
  .custom-cursor { display: none; } 
  #big { width: 100%; height: 100%; }
  .skill-cube { width: 50px; height: 50px; font-size: 10px;}
  #screen-1 article {font-size: 0.5em;;}
  #up{font-size: 13px;}
  #down{font-size: 13px;}
  #left{font-size: 13px;}
  #right{font-size: 13px;}
  .dpad{    grid-row-gap: 0.5rem;
    grid-column-gap: 0.25rem;}
  .skill-info{
    font-size: 12px;
  }
  .skill-cube-container{
    top:20%
  }
  #screen_skills{
    gap:2rem;
  }
  #screen_skills h2{
    font-size: 40px;
  }
  #nav_retro header nav {
    gap:300%;
  }
  @keyframes expandScreen {
    0% {
      width: 1%;
      height: 1%;
      opacity: 0;
    }
    100% {
      width: 100%;
      height: 100%;
      opacity: 1;
    }
  }
}

/* Tablet screens in portrait */
@media (min-width: 600px) and (max-width: 767px) and (orientation: portrait) {
  .custom-cursor { display: none; } 
  #big { width: 100%; height: 100%; }
  .skill-cube { width: 70px; height: 70px; }
  @keyframes expandScreen {
    0% {
      width: 1%;
      height: 1%;
      opacity: 0;
    }
    100% {
      width: 100%;
      height: 100%;
      opacity: 1;
    }
  }
}

/* Large phone screens in landscape */
@media (min-width: 480px) and (max-width: 599px) and (orientation: landscape) {
  .custom-cursor { display: none; }
  #big { width: 100%; height: 100%; }
  .skill-cube { width: 60px; height: 60px; }
  @keyframes expandScreen {
    0% {
      width: 1%;
      height: 1%;
      opacity: 0;
    }
    100% {
      width: 100%;
      height: 100%;
      opacity: 1;
    }
  }
}

/* Large phone screens in portrait */
@media (min-width: 480px) and (max-width: 599px) and (orientation: portrait) {
  .custom-cursor { display: none; }
  #big { width: 100%; height: 100%; }
  .skill-cube { width: 50px; height: 50px; }
  @keyframes expandScreen {
    0% {
      width: 1%;
      height: 1%;
      opacity: 0;
    }
    100% {
      width: 100%;
      height: 100%;
      opacity: 1;
    }
  }
}

/* Small phone screens */
@media (max-width: 479px) {
  .custom-cursor { display: none; }
  #big { width: 100%; height: 100%; }
  .skill-cube { width: 45px; height: 45px; }
  @keyframes expandScreen {
    0% {
      width: 1%;
      height: 1%;
      opacity: 0;
    }
    100% {
      width: 100%;
      height: 100%;
      opacity: 1;
    }
  }
}
