@keyframes text-animation {
  0% {
    content: "Press & Drag Down -";
  }
  33% {
    content: "Press & Drag Down --";
  }
  66% {
    content: "Press & Drag Down ---";
  }
  100% {
    content: "Press & Drag Down -";
  }
}
.drag-down-indicator {
  position: absolute;
  bottom: 150px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Share Tech Mono', monospace;
  color: white;
  font-size: 16px;
  user-select: none;
  left:92.5%;
}

.vertical-text {
  transform: rotate(90deg); /* Rotate the text by 90 degrees */
  white-space: nowrap; /* Prevent the text from wrapping */
 
}

