
#leva__root {
  display: none; 
}
@media (max-width: 768px) {
  canvas {
    width: 100vw;  /* Prend la largeur complète de l'écran */
    height: 100vh; /* Prend la hauteur complète de l'écran */
  }
  /* Ajustements de style pour mobile */
  .model-text {
    font-size: 2rem; /* Réduire la taille de la police */
    text-align: center;
  }
}
.header {
  position: fixed; /* or absolute, depending on your design */
  top: 0; /* Position at the top */
  left: 0; /* Position on the left */
  right: 0; /* Position on the right */
  z-index: 10; /* Ensure it's above other content */
  background-color: rgba(255, 255, 255, 0.9); /* Optional: Slightly transparent background */
  padding: 10px; /* Adjust padding as needed */
}

.scene {
  margin-top: 60px; /* Adjust this based on the height of your Header */
}
