@font-face {
    font-family: 'PPNeueMontreal';
    src: url('/portfolio/fonts/ppneuemontreal-bold.otf') format('opentype');
    font-weight: bold;
  }
  
.custom-cursor {
    position: fixed; /* Use fixed or absolute */ /* Size of the cursor circle */ /* Circle color */
    border-radius: 50%; /* Make it round */
    pointer-events: none; /* Prevent it from interfering with mouse events */
    transform: translate(-50%, -50%); /* Center the circle on the mouse pointer */
    transition: background-color 0.3s; /* Add some transition for hover effect */
  }

  
  .cursor-text {
    color: white; /* This text will stay white */
    font-size: 12px;
    font-family: 'PPNeueMontreal', sans-serif;
  }
  
  .custom-cursor-text {
    position: absolute;
    top: 50px; /* Adjust as needed to position below the circle */
    left: 50%;
    width: 30px;
    height: 10px;
    transform: translateX(-50%);
    font-size: 12px; /* Adjust font size */
    color: #000000; /* Text color */
    text-align: center; /* Center the text */
    pointer-events: none; /* Prevent it from interfering with mouse events */
  }
  

  .cursor-text {
    margin-top: 30px;
    margin-left: -30px;
    font-size: 12px;
    font-family: 'PPNeueMontreal';
    color: #ffffff;
    text-align: center;
    width: max-content;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  .fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  
  .fade-out {
    opacity: 0;
    transform: translateY(-20px); /* Slide out effect */
  }