@font-face {
  font-family: 'PPNeueMontreal';
  src: url('/portfolio/fonts/ppneuemontreal-bold.otf') format('opentype');
  font-weight: bold;
}
html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden ;
}
.dropdown-menu {
  user-select: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(0,0,0);
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(100%); /* Par défaut en bas de l'écran, invisible */
  transition: transform 2s ease; /* Animation de transition pour l'élévation */
  z-index: 100;
  width: 100%;
  height: 100%;
  opacity: 0; /* Par défaut, invisible */
  
}

.dropdown-menu.show {
  transform: translateY(0); /* Se déplacer vers le haut */
  opacity: 1; /* Rendre visible */
}

.dropdown-menu {
  position: relative;
  overflow-x: hidden ;
}

.titles-slider {
  user-select: none;
  position: absolute;
  top: 60%;
  left: 17%;
  transform: translateY(-50%);
  height: 100%;
  width: 40%;
  overflow-y: hidden;
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0);
  font-family: 'PPNeueMontreal';
  text-transform: uppercase;
}

.project-title {
  
  margin: 250px 0;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 40px;
  color: white;
  background: transparent;
  border-radius: 5px;
  font-family: 'PPNeueMontreal';
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px white; /* Bordure blanche autour du texte */
  text-stroke: 1px white;
}

.project-title.hovered {
  user-select: none;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 1px white; /* Bordure blanche autour du texte */
  text-stroke: 1px white; /* Support pour d'autres navigateurs */
}

.project-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.685);
}
.dropdown-menu {
  cursor: none; /* Hide the default cursor */
}

.project-details-div{
  position: absolute;
  top: 25%;
  width: 60%;
  height: 50%;
}
.p-p{
  position: relative;
  margin-top: -5%;
}
.project-details-h2{
  font-family: 'PPNeueMontreal';
  text-transform: uppercase;
  font-size: 60px;
  color: #ffffff;
  -webkit-text-stroke: 1px rgb(255, 255, 255); /* Bordure blanche autour du texte */
  text-stroke: 1px white; 
  
}

.project-details.show {
  display: block;
}
.description{
  text-align: center;
  font-family: 'PPNeueMontreal';
  color: rgb(255, 255, 255);
  width: 30%;
  margin-left: 35%;
}